.items-form__heading {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    margin-right: 40px;
}

.items-form__heading:hover,
.items-form__heading.active {
    color: rgb(245, 69, 69);
}

/* 横線のスタイル */
.divider {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 1px;
    background-color: #656565;
}

.items-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.item-card {
    width: calc(25% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.item-card__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* common.cssの.contentと.content__headingを上書き */
body .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body .content__heading {
    text-align: center;
    font-size: 32px;
}
