.sell-form__heading {
    text-align: center;
    font-size: 30px;
}

.sell-form__sub-heading {
    font-size: 25px;
    color: #656565;
    margin-bottom: 0;
    margin-top: 40px;
}

.sell-form__group {
    display: flex;
    flex-direction: column;
    /* 子要素を縦方向に配置 */
}

.sell-form__label {
    font-size: 20px;
    margin-top: 20px;
}

.sell-form__input {
    padding: 13px;
    border: 1px solid #9d9c9c;
    border-radius: 3px;
}

.sell-form__error-message {
    color: #ff0000;
}

/* ボタン */
.sell-form__btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sell-form__update-btn {
    display: block;
    text-align: center;
    padding: 10px 32px;
    border: none;
    background-color: rgb(245, 69, 69);
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    /* 親要素の幅いっぱいに広げる */
    box-sizing: border-box;
    /* paddingを含めた全体の幅を指定できるように */
}

.sell-form__register-btn {
    text-decoration: none;
    color: #3e80bd;
    padding-top: 10px;
}

/* 画像 */
.sell-form__image-preview {
    width: 100%;
    height: 120px;
    border-radius: 3px;
    border: 2px dashed #9d9c9c;
    overflow: hidden;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.sell-form__image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sell-form__no-image {
    font-size: 4rem;
    color: #888787;
}

.sell-form__select-btn {
    display: none;
}

.sell-form__select-label {
    padding: 0.5rem 1rem;
    background-color: white;
    color: rgb(245, 69, 69);
    border-radius: 6px;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid rgb(245, 69, 69);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -330%);
}

/* 横線のスタイル */
.divider {
    width: 100%;
    height: 1px;
    background-color: #656565;
}

/* カテゴリー */
.sell-form__category-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.sell-form__category-item {
    position: relative;
}

.sell-form__category-input {
    position: absolute;
    opacity: 0;
}

.sell-form__category-label {
    display: inline-block;
    padding: 3px 18px;
    background-color: white;
    color: rgb(245, 69, 69);
    border: 1px solid rgb(245, 69, 69);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 12px;
    margin-left: 18px;
    margin-top: 15px;
}

.sell-form__category-input:checked+.sell-form__category-label {
    background-color: rgb(245, 69, 69);
    color: white;
}

.sell-form__category-label:hover {
    background-color: #e9e9e9;
}